<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>Dashboard</h1>
    </div>

    <section>
      <h3>Create a new group</h3>
      <input type="text" placeholder="Group Name" id="groupName"/>
      <input type="submit" value="Create" id="submitGroupCreate"/>
    </section>
    <br>
    Groups You Own:<br>
    <ul class="list-group">
      {{#each owned}}
        <li class="list-group-item collapsible-toggle" data-toggle="collapse" data-target="#{{_id}}">
          <a href="/group/{{_id}}">{{ name }} - {{size users}}</a>
        </li>

        <div id="{{_id}}" class="collapse collapse-group-control-panel">More options here</div>
      {{/each}}
    </ul>
    <hr>

    <ul class="list-group">
      {{#each groups}}
        <li class="list-group-item">{{ name }} - Owned by {{owner.emails.[0].address}}</li>
      {{/each}}
    </ul>
    <hr>

  </div>
</template>
